@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --bg-color: #e5e5e5;
}

.dark {
    --bg-color: #111;
}

body {
    background-color: var(--bg-color);
}


/* test bc it only looks funky on macbook? */
.navbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.navbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}